body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 24px;
}

.card a {
  color: blue;
  text-decoration: none;
}

.container {
  display: flex;
  padding: 20px;
}

@media screen and (min-width: 900px) {
  .card {
    margin: 60px auto;
    border-radius: 20%;
    padding: 100px 100px;
    border: solid 2px #555;
  }
}
