body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 24px;
}

.container {
  display: flex;
  padding: 20px;
}

.card {
  margin: 60px auto;
  border-radius: 20%;
  padding: 100px 100px;
  border: solid 2px #555;
}

.card a {
  color: blue;
  text-decoration: none;
}
